body{
    background: #806bcd;
    position: relative;
}
.container{
    display: inline-flex;
    width: 70%;
    height: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    position: absolute;
    left: 15% ;
    top: 80px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3), inset 8px 8px 8px rgba(187, 185, 185, 0.487), inset -8px -8px 8px rgba(187, 185, 185, 0.487);
}
.icon-section{
    position: relative;
    width: 40%;
    height: auto;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
}
.icon-section img{
    position: absolute;
    width: auto;
    height: 60%;
    margin-top: 102px;
    margin-left: 50px;
}
.input-section{
    display: relative;
    width: 40%;
    height: auto;
    padding: 16px 13%;
}
.input-section p{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    padding-top: 5px;
}
.input-section input, button, textarea{
    background: #E6E6E6;
    border: none;
}
.input-section label{
    padding-left: 13px;
    font-size: 15px;
    font-weight: 700;
}
.input-section input{
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding-left: 20px;
}
.input-section button{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #816DD6;
    color:#E6E6E6;
    font-size: 18px;
    font-family: sans-serif;
}
.input-section button:hover{
    background: #3d19de;
    transition: 0.5s;
}
.input-section textarea{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 20px;
    padding-top: 10px;
}